.jumbotron{
	background-image: url("../img/food.jpg");
	background-size: cover;
	height: 300px;
	text-align: center;
	font-family: 'Alata', sans-serif;
}

.jumbotron .display-4{
	color: white;
	margin-top: 80px;
}

.jumbotron p{
	color: white;
}

.row{
	padding-left: 10px;
	padding-right: 10px;
}

.col-md-3{
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.col{
	text-align: center;
}

#extern{
	padding: 20px;
}